@model TitanTracker.Models.ViewModels.AdminIndexViewModel
@using TitanTracker.Models.Enums
@using TitanTracker.Extensions
@using Microsoft.AspNetCore.Identity
@using TitanTracker.Services.Interfaces
@inject IBTCompanyInfoService CompanyInfoService
@inject IBTFileService BTFileService
@inject IBTProjectService ProjectService
@inject IBTTicketService TicketService
@inject UserManager<BTUser> UserManager

@{
    BTUser btUser = await UserManager.GetUserAsync(User);
    int companyId = User.Identity.GetCompanyId().Value;
    Company company = await CompanyInfoService.GetCompanyInfoByIdAsync(companyId);
    List<Ticket> tickets = await TicketService.GetTicketsByUserIdAsync(btUser.Id, companyId);
    List<Project> adminProjects = await ProjectService.GetAdminProjectsAsync(btUser.Id, companyId);
}

<h3>@User.IsInRole(Roles.Admin.ToString())</h3>
<header class="page-header">
    <h2>
        @*@((await UserManager.GetRolesAsync(btUser))[0])*@
        @{
            foreach (var role in await UserManager.GetRolesAsync(btUser))
            {
                @role
            }
        }
        |  @company.Name Projects
    </h2>
    <div>
        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>
    </div>
</header>

<!--===== Wigets: User Project Stats  ====-->
<div class="row mb-3">
    <div class="col-6">
        <div class="row">
            <div class="col-6">
                <section class="card card-featured-left card-featured-primary mb-3">

                    <div class="card-body">
                        <div class="widget-summary">
                            <div class="widget-summary-col widget-summary-col-icon">
                                <div class="summary-icon bg-primary">
                                    <i class="fas fa-project-diagram"></i>
                                </div>
                            </div>
                            <div class="widget-summary-col">
                                <div class="summary">
                                    <h4 class="title">
                                        Your Active Projects
                                    </h4>
                                    <div class="info">
                                        @if ((await ProjectService.GetUserProjectsAsync(btUser.Id)).Count() != 0)
                                        {
                                            <strong class="amount">@btUser.Projects.Count</strong>
                                            <span class="text-primary">
                                                @*(@projects.Where(p => p.ProjectStatus == BTProjectStatus.Ideation).Count())) in planning)*@
                                                (@Model.Projects.Where(p => p.ProjectStatus switch
                                    {
                                        BTProjectStatus.Ideation or
                                        BTProjectStatus.Requirements or
                                        BTProjectStatus.InDesign => true,
                                        _ => false
                                    }).Count() in planning)
                                            </span>
                                        }
                                    </div>
                                </div>
                                <div class="card-footer card-footer-btn-group">
                                    <a href="# " class="text-color-success"><i class="fa fa-project-diagram me-1 text-4 top-3 position-relative text-color-info"></i>Mine</a>
                                    <a href="#" class="text-color-primary"><i class="fa fa-user-plus me-1 text-4 top-3 position-relative text-color-primary"></i>Assign</a>
                                    <a href="#" class="text-color-danger"><i class="fa fa-fire me-1 text-4 top-3 position-relative text-color-danger"></i>Required</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-6">
                <section class="card card-featured-left card-featured-danger mb-3">
                    <div class="card-body">
                        <div class="widget-summary">
                            <div class="widget-summary-col widget-summary-col-icon">
                                <div class="summary-icon bg-danger">
                                    <i class="fas fa-bug"></i>
                                </div>
                            </div>
                            <div class="widget-summary-col">
                                <div class="summary">
                                    <h4 class="title">Defect Tickets Assigned to You</h4>
                                    <div class="info">
                                        @if (tickets.Count != 0)
                                        {
                                            <strong class="amount">@tickets.Count</strong>
                                            <span class="text-danger">
                                                (@tickets.Where(t => t.DeveloperUserId == null).Count() unassigned)
                                            </span>
                                        }
                                    </div>
                                </div>
                                <div class="card-footer card-footer-btn-group">
                                    <a href="# " class="text-color-success"><i class="fa fa-ticket-alt me-1 text-4 top-3 position-relative text-color-success"></i>Mine</a>
                                    <a href="#" class="text-color-primary"><i class="fa fa-user-plus me-1 text-4 top-3 position-relative text-color-primary"></i>Assign</a>
                                    <a href="#" class="text-color-danger"><i class="fa fa-fire me-1 text-4 top-3 position-relative text-color-danger"></i>Critical</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!--===== OPTIONAL !!!!: 1.5st Row, Block Widgets: Projects, Tickets ====-->
        <div class="row">
            <div class="col-6">
                <section class="card card-featured-left card-featured-primary mb-3">
                    <div class="card-body">
                        <div class="widget-summary">
                            <div class="widget-summary-col widget-summary-col-icon">
                                <div class="summary-icon bg-primary">
                                    <i class="fas fa-lightbulb"></i>
                                </div>
                            </div>
                            <div class="widget-summary-col">
                                <div class="summary">
                                    <h4 class="title">Your Features (Not active)</h4>
                                    <div class="info">
                                        @if (tickets.Count != 0)
                                        {
                                            <strong class="amount">@tickets.Count</strong>
                                            <span class="text-danger">
                                                (@tickets.Where(t => t.DeveloperUserId == null).Count() unassigned)
                                            </span>
                                        }
                                    </div>
                                </div>
                                <div class="card-footer card-footer-btn-group">
                                    <a href="# " class="text-color-success"><i class="fas fa-lightbulb me-1 text-4 top-3 position-relative text-color-success"></i>Mine</a>
                                    <a href="#" class="text-color-primary"><i class="fa fa-user-plus me-1 text-4 top-3 position-relative text-color-primary"></i>Assign</a>
                                    <a href="#" class="text-color-danger"><i class="fa fa-fire me-1 text-4 top-3 position-relative text-color-danger"></i>Critical</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-6">
                <section class="card card-featured-left card-featured-info mb-3">
                    <div class="card-body">
                        <div class="widget-summary">
                            <div class="widget-summary-col widget-summary-col-icon">
                                <div class="summary-icon bg-info">
                                    <i class="fas fa-briefcase"></i>
                                </div>
                            </div>
                            <div class="widget-summary-col">
                                <div class="summary">
                                    <h4 class="title">Feature Work Items(Not Active)</h4>
                                    <div class="info">
                                        @if (tickets.Count != 0)
                                        {
                                            <strong class="amount">@tickets.Count</strong>
                                            <span class="text-danger">
                                                (@tickets.Where(t => t.DeveloperUserId == null).Count() unassigned)
                                            </span>
                                        }
                                    </div>
                                </div>
                                <div class="card-footer card-footer-btn-group">
                                    <a href="# " class="text-color-success"><i class="fas fa-briefcase me-1 text-4 top-3 position-relative text-color-success"></i>Mine</a>
                                    <a href="#" class="text-color-primary"><i class="fa fa-user-plus me-1 text-4 top-3 position-relative text-color-primary"></i>Assign</a>
                                    <a href="#" class="text-color-danger"><i class="fa fa-fire me-1 text-4 top-3 position-relative text-color-danger"></i>Critical</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="col-6">
        <section class="card">
            <header class="card-header">
                <div class="card-actions">
                    <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                    <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
                </div>

                <h2 class="card-title">Bar Chart: Overlapping On Mobile</h2>
            </header>
            <div class="card-body">
                <div id="ChartistOverlappingBarsOnMobile" class="ct-chart ct-perfect-fourth ct-golden-section"></div>

                <!-- See: js/examples/examples.charts.js for the example code. -->
            </div>
        </section>
    </div>
</div>

<!--===== Company Stats  ====-->
<div class="row">
    <div class="col-xl-12">
        @if ((User.IsInRole(Roles.Admin.ToString())) || User.IsInRole(Roles.DemoUser.ToString()) || User.IsInRole(Roles.ProgramManager.ToString()) || User.IsInRole(Roles.ProjectManager.ToString()))
        {
            <section class="card">
                <header class="card-header card-header-dark">
                    <h2 class="card-title">Projects I'm On'</h2>
                </header>
                <div class="card-body">
                    <table class="table table-responsive-md table-hover mb-0" id="ProjectInfo">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Project</th>
                                <th>Priority</th>
                                <th>Current State</th>
                                <th>Completion</th>
                                <th>Work Items</th>
                                <th>Tickets</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var project in Model.Projects)
                            {
                                <tr>
                                    <td>@project.Id</td>
                                    <td>@project.Name</td>
                                    <td>
                                        <select id="@project.Id" class="btn btn-primary btn-xs dropdown-toggle" onchange="changeProjectPriority(this.id, this.value)">

                                            @foreach (var projPri in Enum.GetValues(typeof(BTProjectPriority)))
                                            {
                                                <!--To include a dropdown menu create 1 td element, use teh foreach loop to create the option elememt and the if statement to choose the first one-->
                                                @if (string.Equals(projPri.ToString(), project.ProjectPriority.ToString()))
                                                {
                                                    <option selected value="@projPri.ToString()">@projPri.ToString()</option>
                                                }
                                                else
                                                {
                                                    <option value="@projPri.ToString()">@projPri.ToString()</option>
                                                }
                                            }
                                        </select>
                                    </td>
                                    <td>
                                        <select id="@project.Id" class="btn btn-primary btn-xs dropdown-toggle" onchange="changeProjectStatus(this.id, this.value)">

                                            @foreach (var projStatus in Enum.GetValues(typeof(BTProjectStatus)))
                                            {
                                                <!--To include a dropdown menu create 1 td element, use teh foreach loop to create the option elememt and the if statement to choose the first one-->
                                                @if (string.Equals(projStatus.ToString(), project.ProjectStatus.ToString()))
                                                {
                                                    <option selected value="@projStatus.ToString()">@projStatus.ToString()</option>
                                                }
                                                else
                                                {
                                                    <option value="@projStatus.ToString()">@projStatus.ToString()</option>
                                                }
                                            }
                                        </select>
                                    </td>
                                    @foreach (var projStatus in Enum.GetValues(typeof(BTProjectStatus)))
                                    {
                                        <td>
                                            @if (string.Equals(projStatus.ToString(), project.ProjectStatus.ToString()))
                                            {
                                                <input type="radio" checked name="proj-@project.Id" id="@project.Id" onclick="changeProjectStatus(this.id, this.value)" value="@projStatus" />
                                            }
                                            else
                                            {
                                                <input type="radio" name="proj-@project.Id" id="@project.Id" onclick="changeProjectStatus(this.id, this.value)" value="@projStatus" />
                                            }
                                        </td>
                                    }
                                    <td><span class="badge badge-success">Success</span></td>
                                    <td>
                                        <div class="progress progress-sm progress-half-rounded m-0 mt-1 light">
                                            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                                100%
                                            </div>
                                        </div>
                                    </td>
                                    <td class="actions-hover actions-fade">
                                        <a href=""><i class="fas fa-pencil-alt"></i></a>
                                        <a href="" class="delete-row"><i class="far fa-trash-alt"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </section>
        }
    </div>
</div>

<hr />
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" method="post" enctype="multipart/form-data">
    <thead>
        <tr>
            <th>
                Project Pic
            </th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Start Date
            </th>
            <th>
                EndDate
            </th>
            <th width="100">
                Options
            </th>
            <th>
                Project Priority
            </th>
            <th>
                Project Status
            </th>
            <th>
                PM
            </th>
            <th>
                Devs
            </th>
            <th>
                submitters
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Projects)
        {
            <tr id="project-@item.Id">
                @*Render Fragment -> targetable ID for the render fragment*@
                <td>
                    @if (item.FileData != null)
                    {
                        <img id="imageFileData" style="width:40px; height:40px" class="img-fluid img-thumbnail" src="data:image/*;base64, @(Convert.ToBase64String(item.FileData))" alt="" />
                    }
                    else
                    {
                        <img id="imageFileData" style="width: 40px; height: 40px; object-fit: cover" class="img-flud img-thumbnail rounded" src="~/img/Placeholder.png" />
                    }
                </td>
                <td width="100">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td width="100">
                    @*// limit the size of this cell*@
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-xs">Details</a>

                    @if ((User.IsInRole(Roles.Admin.ToString())) || User.IsInRole(Roles.ProgramManager.ToString()) || User.IsInRole(Roles.ProjectManager.ToString()))
                    {
                        @*<a asp-action="AssignProjMIndex" asp-rout-id="@item.Id" class="btn btn-success btn-xs">Assign Proj Man</a>*@
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info btn-xs">Edit</a>
                        <a asp-action="AssignMembers" asp-route-id="@item.Id" class="btn btn-info btn-xs"> Assign Members </a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-info btn-xs"> Delete </a>
                    }
                </td>
                <td>
                    @item.ProjectPriority.ToString()
                </td>
                <td>
                    @item.ProjectStatus.ToString()
                    @*add member code here*@
                    @*Maybe add small icons with images*@
                </td>
                <td>
                    <form asp-action="SelectPM" method="post">
                        <input hidden asp-for="ProjectId" value="@item.Id" />
                        <select multiple="multiple" class="form-control" asp-for="PmId">
                            @foreach (var member in Model.PMList)
                            {
                                if (await ProjectService.IsUserOnProject(member.Value, item.Id))
                                {
                                    <option value="@member.Value" selected>@member.Text</option>

                                }
                                else
                                {
                                    <option value="@member.Value">@member.Text</option>
                                }
                            }
                        </select>
                        <button type="submit" class="btn btn-info"></button>
                    </form>
                </td>
                <td>
                    <form asp-action="SelectDevs" method="post">
                        <input hidden asp-for="ProjectId" value="@item.Id" />
                        <select multiple="multiple" class="form-control" asp-for="SelectedDevs">
                            @foreach (var member in Model.DevList)
                            {
                                if (await ProjectService.IsUserOnProject(member.Value, item.Id))
                                {
                                    <option value="@member.Value" selected>@member.Text</option>

                                }
                                else
                                {
                                    <option value="@member.Value">@member.Text</option>
                                }
                            }
                        </select>
                        <button type="submit" class="btn btn-info"></button>
                    </form>
                </td>
                <td>
                    <form asp-action="SelectSubs" method="post">
                        <input hidden asp-for="ProjectId" value="@item.Id" />
                        <select multiple="multiple" class="form-control" asp-for="SelectedSubs">
                            @foreach (var member in Model.SubList)
                            {
                                if (await ProjectService.IsUserOnProject(member.Value, item.Id))
                                {
                                    <option value="@member.Value" selected>@member.Text</option>

                                }
                                else
                                {
                                    <option value="@member.Value">@member.Text</option>
                                }
                            }
                        </select>
                        <button type="submit" class="btn btn-info"></button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<form id="projectStatusForm" asp-controller="Projects" asp-action="UpdateProjectStatus">
    <input type="hidden" name="projectId" id="projectId" value="" />
    <input type="hidden" name="projectStatus" id="projectStatus" value="" />
</form>

<!-- MAKE SURE TO CHANGE THE JAVASCRIPT TOO custom.js -->
<form id="projectPriorityForm" asp-controller="Projects" asp-action="UpdateProjectPriority">
    <input type="hidden" name="projectId" id="priorityprojectId" value="" />
    <input type="hidden" name="projectPriority" id="projectPriority" value="" />
</form>

<!-- end: page -->

@section scripts{

    <script>
        $(document).ready(function () {
            $('#StaffInfo').DataTable({ searching: false, pageLength: 5, lengthMenu: [5, 10, 20] });
            $('#ProjectInfo').DataTable({ searching: false, pageLength: 5, lengthMenu: [5, 10, 20] });
        });
    </script>
}