@using TitanTracker.Services
@model TitanTracker.Models.ViewModels.AddProjectWithPMViewModel

<h1>Create a Project</h1>

<h4>Project</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Project.Name" class="control-label"></label>
                <input asp-for="Project.Name" class="form-control" />
                <span asp-validation-for="Project.Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Project.Description" class="control-label"></label>
                <input asp-for="Project.Description" class="form-control" />
                <span asp-validation-for="Project.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.StartDate" class="control-label"></label>
                <input asp-for="Project.StartDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" />
                <span asp-validation-for="Project.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.EndDate" class="control-label"></label>
                <input asp-for="Project.EndDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" />
                <span asp-validation-for="Project.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label asp-for="PriorityList" class="control-label"></label>
                <select asp-for="ProjectPriority" class="form-control" asp-items="@Model.PriorityList"></select>
            </div>

            <label>Image Preview</label>

            <div class="form-group">
                <label asp-for="Project.FormFile" class="control-label"></label>
                <input asp-for="Project.FormFile" class="form-control" type="file" accept=".png, .jpg, .jpeg, .gif" onchange="document.getElementById('imageFileData').src = window.URL.createObjectURL(this.files[0])" />
                <span asp-validation-for="Project.FormFile" class="text-danger"></span>
            </div>

            @if (Model.Project.FileData != null)
            {

                <img id="imageFileData" style="width:50px; height:50px" class="img-fluid img-thumbnail" src="data:image/*;base64, @(Convert.ToBase64String(Model.Project.FileData))" />
            }
            else
            {
                <img id="imageFileData" style="width:50px; height:50px" class="img-flud img-thumbnail rounded" style="object-fit:cover" src="~/img/Placeholder.png" />
            }
            @*<div class="form-group">
                    <label class="control-label">Project Manager</label>
                    <select asp-for="PmId" class="form-control" asp-items="@Model.PMList"></select>
                </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}