@model TitanTracker.Models.Project
@using TitanTracker.Services.Interfaces
@using Microsoft.AspNetCore.Identity
@using TitanTracker.Extensions

@inject IBTCompanyInfoService CompanyService
@inject IBTProjectService ProjectService
@inject UserManager<BTUser> UserManager

@{
    BTUser btUser = await UserManager.GetUserAsync(User);
    int companyId = User.Identity.GetCompanyId().Value;
}

<h1>Project Details</h1>

<header class="page-header">
    <h2>
        Project Details | @*@((await UserManager.GetRolesAsync(btUser))[0])*@
        @{
            foreach (var role in await UserManager.GetRolesAsync(btUser))
            {
                @role
            }
        }
    </h2>

    <div class="right-wrapper text-end">
        <ol class="breadcrumbs">
            <li>
                <a href="index.html">
                    <i class="bx bx-home-alt"></i>
                </a>
            </li>

            <li><span>Layouts</span></li>

            <li><span>Dark</span></li>
        </ol>

        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>
    </div>
</header>

<div class="col-xl-6">
    <section class="card">
        <header class="card-header card-header-transparent">
            <div class="card-actions">
                <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
            </div>

            <h2 class="card-title">Projects Stats</h2>
        </header>
        <div class="card-body">
            <table class="table table-responsive-md table-striped mb-0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Project</th>
                        <th>Status</th>
                        <th>Progress</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Porto - Responsive HTML5 Template</td>
                        <td><span class="badge badge-success">Success</span></td>
                        <td>
                            <div class="progress progress-sm progress-half-rounded m-0 mt-1 light">
                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                    100%
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Porto - Responsive Drupal 7 Theme</td>
                        <td><span class="badge badge-success">Success</span></td>
                        <td>
                            <div class="progress progress-sm progress-half-rounded m-0 mt-1 light">
                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                    100%
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Tucson - Responsive HTML5 Template</td>
                        <td><span class="badge badge-warning">Warning</span></td>
                        <td>
                            <div class="progress progress-sm progress-half-rounded m-0 mt-1 light">
                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                    60%
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Tucson - Responsive Business WordPress Theme</td>
                        <td><span class="badge badge-success">Success</span></td>
                        <td>
                            <div class="progress progress-sm progress-half-rounded m-0 mt-1 light">
                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                                    90%
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Porto - Responsive Admin HTML5 Template</td>
                        <td><span class="badge badge-warning">Warning</span></td>
                        <td>
                            <div class="progress progress-sm progress-half-rounded m-0 mt-1 light">
                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 45%;">
                                    45%
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Porto - Responsive HTML5 Template</td>
                        <td><span class="badge badge-danger">Danger</span></td>
                        <td>
                            <div class="progress progress-sm progress-half-rounded m-0 mt-1 light">
                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                                    40%
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Porto - Responsive Drupal 7 Theme</td>
                        <td><span class="badge badge-success">Success</span></td>
                        <td>
                            <div class="progress progress-sm progress-half-rounded mt-1 light">
                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">
                                    95%
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>
                </div>
<div>
    <h4>Project</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FileData)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FileData)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FileContentType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FileContentType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Archived)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Archived)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectPriority)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectPriority.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>